@charset "UTF-8";

 * {
            padding: 0px;
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        img {
            width: 100%;
        }

        a {
            padding: 20px;
            display: block;
            text-align: center;
            text-decoration: none;
            font-weight: bolder;
            background-color: darkgreen;
            color: white;
        }
        a:hover {
            background-color: green;
        }